name "Player"
components {
    GAME.GameAppearance color=0x5b6ee1ff height=11.0 layer=3 width=8.0
    GAME.GameGlobalBinding name="Player"
    (object)GAME.GameInput
    (object)GAME.GameTransform
}
(array)behaviors "Player"
