name "Player"
components {
    GAME.GameGlobalBinding name="Player"
    (object)GAME.GameInput
    GAME.GameSprite frame_height=16 frame_width=16 image="content/images/climber.png" layer=4
    (object)GAME.GameTransform
}
(array)behaviors "Player"
