version 1
name "Level"
(array)entities {
    - {
        name "Lighting"
        prototype "Lighting"
        (array)behaviors
    }
    - {
        name "Backdrop"
        prototype "Backdrop"
        (array)behaviors
    }
    - {
        name "Player"
        prototype "Player"
        (array)behaviors "Player"
    }
    - {
        name "Camera"
        prototype "Camera"
        (array)behaviors "CameraFollow"
    }
    - {
        name "JumpKey"
        prototype "JumpKey"
        (array)behaviors
    }
    - {
        name "JumpKeyC"
        prototype "JumpKeyC"
        (array)behaviors
    }
    - {
        name "JumpPad"
        prototype "JumpPad"
        (array)behaviors
    }
    - {
        name "DashKey"
        prototype "DashKey"
        (array)behaviors
    }
    - {
        name "DashKeyK"
        prototype "DashKeyK"
        (array)behaviors
    }
    - {
        name "DashPad"
        prototype "DashPad"
        (array)behaviors
    }
    - {
        name "GrabKey"
        prototype "GrabKey"
        (array)behaviors
    }
    - {
        name "GrabKeyL"
        prototype "GrabKeyL"
        (array)behaviors
    }
    - {
        name "GrabPad"
        prototype "GrabPad"
        (array)behaviors
    }
}
