version 1
name "Level"
(array)entities {
    - name="Lighting" prototype="Lighting"
    - name="Backdrop" prototype="Backdrop"
    - name="Player" prototype="Player"
    - name="Camera" prototype="Camera"
}
